body {
    font-family: Arial, Helvetica, sans-serif;
}
.portfolio{
   display: block; 
   /* position: relative; */
}
.portfolio .image{
    /* position: absolute;
    left: 30%; */
    text-align: center;
}
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
 float: right;
  padding: 20px;
  color: white;
  text-decoration: none;
  font-size: 25px;
  margin-right: 10%;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}