body {
    font-family: Arial, Helvetica, sans-serif;
}
.portfolio{
   display: block; 
}
.portfolio .image{
    text-align: center;
}
/* Navigation bar */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
 float: right;
  padding: 20px;
  color: white;
  text-decoration: none;
  font-size: 25px;
  margin-right: 10%;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
/* Main content */
.about{
    display:flex ;
    width: 100%;
}
 .about .me{
    flex:1 ;
    height:100%;
    border:1px solid wheat;
    margin: 30px;
    box-sizing: border-box;
    border-radius:1% ;
    box-shadow:2px 2px 2px grey ;
} 
#me{
  background-color:white;
  color: black;
}
/* footer */
.footer  .footer-content{
  display: flex;
  flex-flow: row wrap; 
  padding: 30px 30px 20px 30px;
  color:white;
  background-color: #555;
  border-top: 1px solid #e5e5e5;
  justify-content: center;
}
.footer .footer-content .footer-content-section{
  margin:150px;
  margin-top: 0;
  margin-bottom: 0;
}
.footer{
  background-color: #33383b;
  color:white;
}
.footer-content-section .span{
color: violet;
}
.footer-content-section-icon ul{
  list-style-type: none;
  display: inline;
}
.footer-content-section-icon ul li{
  text-decoration: none;
  margin:1px ;
  padding: 5px;
}
.footer-content-section-icon ul li:hover{
  background-color: violet;
  color: #e5e5e5;
}
.footer-content-section-link  ul{
  list-style: none;
  
}
.footer-content-section-link ul li{
  margin: 1px;
  padding: 5px;
  text-decoration: none;
  text-size-adjust:20px ;
  
}
.footer-content-section-link ul li:hover{
  background-color: tomato;
  color: #33383b;
  -ms-text-size-adjust:5 ;
}
.footer-content-section-contact ul{
  list-style: none;
  display:block ;
  background-color:burlywood;
  height:5% ;
}
.footer-content-section-contact ul .email{
  margin: 20px;
  padding: 10px;
}
.number{
  margin: 2px;
  padding: 5px;
} 
.footer-bottom{
  text-align: center;
}